{% extends 'main.html' %}

{% block title %}
Add new developer
{% endblock %}


{% block content %}
    <form action="" method="post">
        <div>
        <label> First name:
            <input type="text" name="first_name">
        </label>
        </div>
        <div>
        <label> Last name:
            <input type="text" name="last_name">
        </label>
        </div>
        <div>
        <label> Middle name:
            <input type="text" name="middle_name">
        </label>
        </div>
        <div>
        <label> Email:
            <input type="email" name="email">
        </label>
        </div>
        <div>
        <label> Salary:
            <input type="number" name="salary">
        </label>
        </div>
        <div>
        <label> Date hired:
            <input type="date" name="date_hired">
        </label>
        </div>
        <div>
        <label> Technology:
            <input type="text" name="technology">
        </label>
        </div>
        <div>
        <label> Notes:
            <input type="text" name="notes">
        </label>
        </div>
        <div>
        <label> References:
            <select name="RF">
                {% for k, v in options.items %}
                     <option value={{ k }}>{{ v }}</option>
                {% endfor %}
            </select>
        </label>
        </div>
        <input type="submit" value="OK">
    </form>
{% endblock %}
